.custom-navbar {
    background: linear-gradient(90deg, #4b79ff, #6ad0ff);
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.nav-link-custom {
    color: white !important;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}

    .nav-link-custom:hover {
        color: #ffe066 !important;
        transform: translateY(-2px);
    }

.navbar-toggler {
    border-color: rgba(255,255,255,0.5);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
